@font-face {
    font-family: 'TT Lakes';
    font-weight: bold;
    src: url(../fonts/TTLakes-Bold.woff);
}

@font-face {
    font-family: 'TT Lakes';
    font-weight: medium;
    src: url(../fonts/TTLakes-Medium.woff);
}

* {
    font-family: 'TT Lakes';
    color: #1B1C21;
    letter-spacing: -0.2px;
}

body {
    margin: 0;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    box-shadow:
        5px 5px 30px 10px rgba(87, 85, 109, 0.2);
    position: fixed;   
    background-color: #fff;
    padding: 24px 24px 32px 24px;
    height: 1024px;
}

.buttons,
.icon>a {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border: none;
    background-repeat: no-repeat;
}

.button-burger {
    background-image: url(../icons/burger.svg);
}

.button-search {
    background-image: url(../icons/search.svg);
}

.logo {
    position: absolute;
    left: 60px;
}

.mobile-menu__top-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.mobile-menu__navigation-menu__list {
    list-style: none;
}

.footer__navigation-icons ul li {
    display: inline-block;
    list-style: none;
}

ul {
    padding: 0;
}

.icon a {
    margin: 0 16px 0 0;
    display: block;
}

.icon-profile a {
    background-image: url(../icons/profile.svg);
}

.icon-chat a {
    background-image: url(../icons/chat.svg);
}

.icon-phone a {
    background-image: url(../icons/call.svg);
}

.mobile-menu__navigation-menu__list li a {
    text-decoration: none;
}

.mobile-menu__navigation-menu__list li {
    margin-bottom: 32px;
    position: relative;
}

.footer-phone {
    font-size: 24px;
    font-weight: bold;
}

.footer__language-select li {
    list-style: none;
    display: inline;
}

.footer__navigation {
    margin-bottom: 40px;
}

.footer__language-select input[type="radio"] {
    visibility: hidden;
    position: absolute;
}

.mobile-menu__navigation-menu__list li a:focus::before {
    content: url(../icons/highlight.svg);
    position: absolute;
    left: -24px;
    top: -4px;
}

.mobile-menu li a:focus,
.footer__language-select li:focus {
    color: #7E7E82;
}

.footer__language-select input:checked+label {
    color: #7E7E82;
}

.footer__language-select>label {
    margin-right: 7px;
    transition: all 0.3s;
}

.buttons,
.icon {
    opacity: 1;
    transition: all 0.3s;
}

.buttons:hover,
.icon:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

.footer__language-select label:hover {
    cursor: pointer;
}