@font-face {
    font-family: 'TT Lakes';
    font-weight: bold;
    src: url(../fonts/TTLakes-Bold.woff);
}

@font-face {
    font-family: 'TT Lakes';
    font-weight: medium;
    src: url(../fonts/TTLakes-Medium.woff);
}

* {
    font-family: 'TT Lakes';
}

@media (min-width:1px) {
    .container {
        width: 320px
    }

    main {
        padding: 0 16px 16px 16px;
        margin-top: 24px;
        gap: 3em;
    }

    .info__navigation {
        margin-left: 16px;
        overflow-x: scroll;
    }

    .description__text {
        overflow: hidden;
        height: 92px;
        margin-top: 0;
    }

    .feedback-button {
        visibility: hidden;
        position: absolute;
    }

    .header-navigation__buttons--hidden {
        visibility: hidden;
        position: absolute;
    }

    .divider--hidden {
        visibility: hidden;
        position: absolute;
    }

    .header-navigation__buttons__desktop {
        visibility: hidden;
        position: absolute;
    }

    .info__title {
        padding-left: 16px;
    }
}

@media (min-width:769px) {
    .container {
        width: 769px;
    }

    .image {
        border: 0px solid;
        border-radius: 3%;
    }

    main {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        padding: 0 24px 24px 24px;
    }

    .info__navigation {
        margin-left: 24px;
    }

    .description {
        flex: 50%
    }

    .image {
        flex: 50%;

    }

    .description__text {
        overflow: hidden;
        width: 312px;
        height: 150px;
    }

    .feedback-button {
        visibility: hidden;
        position: absolute;
    }

    .header-navigation__buttons--hidden {
        visibility: visible;
        display: inherit;
        position: inherit;
    }

    .divider--hidden {
        visibility: visible;
        position: inherit;
        padding: 1em;
    }

    .divider--mobile {
        visibility: hidden;
        position: absolute;
    }

    .info__title {
        padding-left: 24px;
    }


}

@media (min-width:1120px) {
    .container {
        width: 1120px
    }

    .info__navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    main {
        padding: 0 32px 32px 32px;
        margin-top: 12px;
    }

    .description__text {
        overflow: visible;
        width: 490px;
    }

    .description {
        display: flex;
        flex-direction: column;
    }

    .feedback-button {
        visibility: visible;
        position: relative;
    }

    .mobile-header,
    .divider--hidden,
    .divider--mobile,
    .header-navigation__buttons--hidden {
        visibility: hidden;
        position: absolute;
    }

    .header-navigation__buttons__desktop {
        visibility: visible;
        position: relative;
    }

    .info__title {
        padding-left: 32px;
    }

    .info__title-line {
        position: absolute;
    }

    .info__navigation {
        justify-content: space-between;
        overflow-x: hidden;
    }

    .info__title-menu {
        display: flex;
        justify-content: space-between;
    }

    .header-navigation__buttons__desktop {
        font-weight: 600;
        color: #1B1C21;
        font-size: 16px;
        line-height: 24px;
        border: none;
        background: none;
        display: flex;
        align-items: center;
        letter-spacing: -0.2px;
    }

    .desktop__buttons-icon {
        padding-left: 0.5em;
    }

    .info__title-line {
        top: 28px;
    }
}

body {
    background: #fff;
    display: flex;
    flex-direction: column;
}

.info {
    padding-right: 24px;
}

.header-navigation {
    padding: 1em;
}

.feedback-button {
    height: 40px;
    width: 91px;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    text-align: left;
    margin-left: 24px;
    background: none;
    border: none;
    padding: 0 1em;
}

.header-navigation__buttons--left,
.header-navigation__buttons--right {
    display: inherit;
}

.container {
    margin: 0 auto;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    border-bottom: #D9FFF5 solid 1px;
    align-items: center;
}

.header-navigation__button {
    background: none;
    border: none;
    padding: 8px;
}

.info__title-line {
    position: absolute;
}

.info__title {
    font-size: 28px;
    line-height: 40px;
}

.info__navigation {
    font-size: 16px;
    display: flex;
    flex-wrap: nowrap;
}

.navigation__button {
    border: hidden;
    border-radius: 6px;
    background: #fff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7e7e82;
    height: 40px;
    white-space: nowrap;
    padding: 0 1em;
}

.navigation__button:focus,
.feedback-button:focus {
    border-radius: 6px;
    border: 2px solid #88FFEC;
}



.description__text {
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.text-expander {
    left: 10px;
    position: relative;
    padding-top: 0.5em;
    font-weight: 600;
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    border: hidden;
    background-color: #fff;
}

.text-expander::before {
    content: url(../icons/expand.svg);
    position: absolute;
    left: -20px;
}

.text-expander:focus {
    padding: 0.5em;
    border-radius: 6px;
    border: 2px solid #88FFEC;
    margin: -0.1em 0 0 -4px;
}

.description__expander {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5%;
}
